In [ ]:
#Q1. Create one variable containing following type of data:

In [1]:
r = ["RD" , 1.0 , (1,2,3)]

In [2]:
for i in r :
    print(type(i))
type(r)

<class 'str'>
<class 'float'>
<class 'tuple'>

list

In [ ]:
#Q2. Given are some following variables containing data:

In [22]:
var1=''

In [23]:
type(var1)

str

In [24]:
var2='[DS,ML,python]'

In [25]:
type(var2)

str

In [26]:
var3=['DS','ML','Python']

In [27]:
type(var3)

list

In [28]:
var4=1.

In [29]:
type(var4)

float

In [ ]:
#Q3. Explain the use of the following operators using an example:

In [31]:
4/2

2.0

In [34]:
10%40

10

In [35]:
5//4

1

In [36]:
2**3

8

In [4]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
#element and its data type.

In [7]:
p = [1 , "Ratnesh" , 2.0 , 7+8j , ("aki","RD","DR") , True]

In [8]:
for i in p :
    print(type(i))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>
<class 'tuple'>
<class 'bool'>

In [12]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.

In [15]:
a = 8
b = 2
count=0

while a % b == 0:
    count += 1
    a //= b
    
if count>0:
    print(f"{a} is divisible by {b} exactly {count} time.")
else:
        print(f"{a} is not divisible by {b}.")

1 is divisible by 2 exactly 3 time.

In [16]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.

In [23]:
s = [2,4,9,12,15,18,21,24,27,30,33,36,39,42,45,48,51,54,57,60,63,66,69,72,75]

for i in s:
    if i%3== 0:
        print(f"{s}is divisible by 3.")
else:
    print(f"{s} is not divisible by 3.")

[2, 4, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]is divisible by 3.
[2, 4, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]is divisible by 3.
[2, 4, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]is divisible by 3.
[2, 4, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]is divisible by 3.
[2, 4, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]is divisible by 3.
[2, 4, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]is divisible by 3.
[2, 4, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]is divisible by 3.
[2, 4, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]is divisible by 3.
[2, 4, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]is divisible by 3.
[2, 4, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]is divisible by 3.
[2, 4, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]is divisible by 3.
[2, 4, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]is divisible by 3.
[2, 4, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]is divisible by 3.
[2, 4, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]is divisible by 3.
[2, 4, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]is divisible by 3.
[2, 4, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]is divisible by 3.
[2, 4, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]is divisible by 3.
[2, 4, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]is divisible by 3.
[2, 4, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]is divisible by 3.
[2, 4, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]is divisible by 3.
[2, 4, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]is divisible by 3.
[2, 4, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]is divisible by 3.
[2, 4, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]is divisible by 3.
[2, 4, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75] is not divisible by 3.

In [24]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#this property.

In [43]:
l = [2,3,4,5,6, "ratnesh" , 7+8j , True , 778.90]

In [45]:
l[1] = 300

In [53]:
l

[2, 300, 4, 5, 6, 'ratnesh', (7+8j), True, 778.9]

In [57]:
l[5] = "RD"

In [58]:
l

[2, 300, 4, 5, 6, 'RD', (7+8j), True, 778.9]

In [48]:
# 300 insted of 3 (is called mutable) 
#string is mutable in List data

In [49]:
c = "ratnesh"

In [51]:
c[2] = "x"

TypeError: 'str' object does not support item assignment

In [ ]:
# string is imutable